<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    <div>
      <h1>Login</h1>
      <form action="/Auth/login/submit" method="post">
        <input type="text" name="username" placeholder="Your username">
        <input type="text" name="password" placeholder="Your password">
        <button type="submit">submit</button>
      </form>
      <form action="/Auth/login/createAccount" method="post">
        <button type="submit">Create Account</button>
      </form>
    </div>
  </body>
</html>
